version: 2.1  # CircleCI config schema version

orbs:
  codecov: codecov/codecov@4  # Official Codecov orb for uploads

jobs:
  build-and-test-linux:
    parameters:
      jdk-version:
        type: string
        default: "17.0"
    docker:
      - image: cimg/openjdk:<< parameters.jdk-version >>  # Java base image (17/21/25)
    steps:
      - checkout  # Fetch repository code
      - run:
          name: Build and test
          command: mvn clean install -B -V
      - codecov/upload:
          file: "netty-spring-boot-context/target/site/jacoco/jacoco.xml"
      - codecov/upload:
          file: "netty-spring-boot-actuator/target/site/jacoco/jacoco.xml"
      - codecov/upload:
          file: "netty-spring-boot-autoconfigure/target/site/jacoco/jacoco.xml"

  build-and-test-macos:
    parameters:
      xcode-version:
        type: string
        default: "16.2.0"
    macos:
      xcode: << parameters.xcode-version >>
    steps:
      - checkout  # Fetch repository code
      - run:
          name: Check Java version
          command: |
            java -version
            mvn -version
      - run:
          name: Build and test
          command: mvn clean install -B -V
      - codecov/upload:
          file: "netty-spring-boot-context/target/site/jacoco/jacoco.xml"
      - codecov/upload:
          file: "netty-spring-boot-actuator/target/site/jacoco/jacoco.xml"
      - codecov/upload:
          file: "netty-spring-boot-autoconfigure/target/site/jacoco/jacoco.xml"

workflows:
  build-netty-starter:
    jobs:
      # Linux builds with multiple JDK versions
      - build-and-test-linux:
          name: linux-jdk17
          jdk-version: "17.0"
      - build-and-test-linux:
          name: linux-jdk21
          jdk-version: "21.0"
      - build-and-test-linux:
          name: linux-jdk25
          jdk-version: "25.0"
      # macOS build (Xcode 16.2.0 includes OpenJDK 25)
      - build-and-test-macos:
          name: macos-jdk25
          xcode-version: "16.2.0"
